.header {
  padding: 20px;
  background-color: #88ab8e;
  color: #eee7da;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-bar3 {
  position: absolute;
  cursor: pointer;
  left: 20px;
  width: 1.5rem;
  height: 1.5rem;
}
.header h2 {
  font-size: 1.5rem;
}
