.section {
  display: flex;
  flex: 1;
  padding: 10px 20px;
}
.aside {
  margin-right: 30px;
}
.aside_list {
  padding: 4px;
}

.main .content_list {
  height: calc(100vh - 40px - 1.5rem - 24px);
  overflow: scroll;
}

.place_box {
  display: flex;
  justify-content: center;
  padding: 8px 4px;
  color: #88ab8e;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
}

.list_place {
  position: relative;
}

.list_place .tooltip {
  display: inline-block;
  visibility: hidden;
  width: 120px;
  background-color: #88ab8e;
  color: #eee7da;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  left: 0px;
  top: 34px;
  z-index: 1;
}

.list_place:hover .tooltip {
  visibility: visible;
}

.place_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list_place_active {
  border-radius: 8px;
  background-color: #88ab8e;
}

.list_place_active .place_title {
  color: #eee7da;
}

.list_row {
  padding: 12px 8px;
  border-radius: 8px;
}

.row_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list_row:hover {
  background-color: #88ab8e;
  color: #eee7da;
}
.list_row:hover .row_title,
.list_row:hover .row_vendor,
.list_row:hover .row_date {
  color: #eee7da;
}

.row_title,
.row_vendor,
.row_date {
  color: #88ab8e;
}

@media (max-width: 576px) {
  .section .aside {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 820px) {
  .section .aside {
    background-color: red;
  }
}
